body {
    font-family: "Source Sans Pro";
    font-weight: 300;
}

.button:not(#boring-link) {
    background-color: #bcd539;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #002839;
    text-decoration: none;
    border-radius: 10px;
}

.button:not(#boring-link):hover {
    background-color: #002839;
    color:#bcd539;
}

.flex-container {
    display:flex;
    flex-direction: row;
}

.form-div {
    padding: 0px 30px;
    margin: 0px 5px;
    border-color: #002839;
    border-width: 5px;
    border-style: solid;
}

input[type=submit] {
    margin: 10px 0px;
}